{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/output.css' %}">
    <title>
        {% block title %}
            Default Title
        {% endblock %}
    </title>
</head>
<body>
    {% include "header.html" %}
    <div class="bg-pink-400 w-full h-full min-h-dvh p-5">
        {% block content %}
            Default Content
        {% endblock %}
    </div>
</body>
</html>